body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(244, 244, 243);

  
}

.container{
    width: 400px;
    height: 50vh;
    background-color: rgb(214, 193, 166);
    box-shadow: 0px 0px 10px grey;
    font-size: larger;
}
select,input[type="text"]{
    width: 80%;
    font-size: large;
}