.main{
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    padding-top: 19px;
    text-align: center;
    font-size: x-large;
    
   
}
.white{
   
    background-color: white;
    
    
}
.black{
    background-color: black;
    color: white;
}
.chess{
    display: grid;
    grid-template-columns: repeat(8,60px);
    grid-template-rows: repeat(8,60px);
    border: 5px solid black;
}