h1{
    text-align: center;
    border: solid;
    width: 50%;
    text-decoration:pink line-through;
}



h2{
    font-weight: 800;
}
p{
text-decoration:  red underline;
line-height: 2.5;
letter-spacing: 2px;
font-size: 15px;
font-family:'Times New Roman', Times, serif;

}

a{
    text-decoration: none;
}